html, body {
    padding: 0;
    margin: 0;
    font-family: 'Assistant', "Times New Roman", sans-serif;
    font-size: 16px;
    color: #fff;
}
p {
    font-size: 1.31rem;
    margin:0;
    line-height: 38.94px;
}
a {
    color: inherit;
    text-decoration: none;
    font-size: 1.43rem;
    background-color: #9e1c1e;
    border-radius: 35px;
}
h3 {
	font-size: 60px;
	line-height: 26.99px;
}
body > header {
	background-color: #1a1a1a;
}
body > header > .logo_top {
	display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1370px;
    margin: auto;
    height: 85px;
}
body > header > .logo_top > a {
    font-size: 20px;
    letter-spacing: 1.57px;
    padding: 10px 30px;
}
body > header > nav {
	background-color: #9e1c1e;
    border-top: solid 4px #571010;
}
body > header > nav > .links {
    max-width: 1350px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
body > header > nav > .links > a {
    width: 100%;
    text-align: center;
    border-right: solid 2px #89181a;
    height: 2.2rem;
    border-radius: inherit;
}
body > header > nav > .links > a:first-of-type {
	border: none;
}
.inside_cont {
	display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    max-width: 1370px;
    margin: auto;
}
main {
    padding: 5rem 0;
    background:
        linear-gradient(
	    	to bottom,
	    	rgba(20,20,20,1) 0%,
	    	rgba(19,19,19,1) 50%,
	        rgba(18,18,18,1) 70%,
	        rgba(17,17,17,1) 100%
	    ) no-repeat bottom,
	    rgba(0, 0, 0, 0.9) url(img/bg-bubbles.png) no-repeat 100% -110px;
    background-size: 100% 25%, contain;
    position: relative;
    overflow: hidden;
}
main::after {
    content: "";
    display: block;
    width: 100%;
    background: #262626;
    height: 55px;
    position: absolute;
    bottom: -28px;
    left: 0;
    transform: rotate(-1.6deg);
}
main > .inside_cont > .comedy_zoa {
	display: flex;
    flex-direction: column;
    align-items: center;
}
main > .inside_cont > .comedy_zoa > a {
    font-weight: 700;
    line-height: 27px;
    width: 100%;
    text-align: center;
    padding: 0.6rem 0;
    margin: 1.25rem 0;
}
main > .inside_cont > .comedy_zoa > .enter_members {
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-radius: 35px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    padding: 1rem 0;
    position: relative;
}
main > .inside_cont > .comedy_zoa > .enter_members::after {
    content: "|";
    position: absolute;
    font-size: 1.3rem;
}
main > .inside_cont > .comedy_zoa > .enter_members > button {
    font-size: 22px;
    line-height: 27px;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
}
main > .inside_cont > .comedy_zoa > .order_phone {
    font-size: 29px;
    font-weight: 700;
    letter-spacing: 7.57px;
    margin-top: 1.1rem;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    padding-top: 0.2rem;
}
main > .inside_cont > .comedy_zoa > .order_phone > a {
	background-color: inherit;
}
main > .inside_cont > .comedy_zoa > .order_phone span {
	font-weight: 400;
}
section.invite_artists {
	background: #262626;
	padding: 6.5em 0 3.7rem;
}
section.invite_artists .artists_cont {
    display: flex;
    flex-direction: column;
    max-width: 650px;
}
section > .inside_cont  a.sections_button {
    padding: 0.6rem 0;
    width: 12rem;
    text-align: center;
    margin-top: 1.5rem;
}
section.clubs {
	background: #1a1a1a;
	padding: 8rem 0;
	position: relative;
    overflow: hidden;
}
section.clubs::before {
    content: "";
    display: block;
    width: 100%;
    background: #262626;
    height: 55px;
    position: absolute;
    top: -27px;
    left: 0;
    transform: rotate(-1.6deg);
    box-shadow: 0px 0px 200px 0 rgba(0,0,1,1);
}
section.clubs::after {
    content: "";
    display: block;
    width: 100%;
    background: #292929;
    height: 55px;
    position: absolute;
    bottom: -27px;
    left: 0;
    transform: rotate(-1.6deg);
    box-shadow: 0px 0px 200px 0 rgba(0,0,1,1);
}
section.clubs > .inside_cont {
    flex-direction: column;
    align-items: start;
}
section.clubs > .inside_cont > .image_clubs {
	display: flex;
    align-items: baseline;
    width: 100%;
    justify-content: space-between;
}

footer {
	background-color: #292929;
	padding: 2rem 0 6rem;
}
footer a {
	background-color: inherit;
	font-size: 18px;
	line-height: 1.8rem;
	position: relative;
}
footer > .inside_cont {
	align-items: baseline;
}
footer > .inside_cont > nav {
	width: 23%;
    display: flex;
    flex-direction: column;
}
footer > .inside_cont > nav > div {
	border-bottom: 3px solid rgba(255, 255, 255, 0.1);
}
footer > .inside_cont > nav > div:last-of-type {
	border: none;
}
footer > .inside_cont > nav > h4 {
    font-size: 24px;
    line-height: 26.99px;
    border-bottom: 3px solid rgba(255, 255, 255, 0.2);
    margin: 0.8rem 0;
    padding: 0.8rem 0;
}
footer > .inside_cont > nav > div > a.bord {
    margin-left: 8px;
}
footer > .inside_cont > nav > div > a.bord::after {
	content: "|";
    position: absolute;
    font-size: 1.3rem;
    left: -8px;
}
footer > .inside_cont > nav span {
	font-size: 1.2rem;
    font-weight: 700;
}
footer > .inside_cont > nav > address {
	display: flex;
    flex-direction: column;
    font-style: normal;
}
footer > .inside_cont > nav > .social {
	display: flex;
    justify-content: space-around;
    border: none;
}
footer > .inside_cont > nav > .social > a.youtube::before {
	content: "|";
    opacity: .2;
    position: absolute;
    font-size: 1.3rem;
    left: -25px;
    top: 10px;
}
footer > .inside_cont > nav > .social > a.youtube::after {
    content: "|";
    opacity: .2;
    position: absolute;
    font-size: 1.3rem;
    right: -25px;
    top: 10px;
}
footer > .inside_cont > nav > .social img {
	width: 55px;
	height: 55px;
}