h3 {
    font-size: 3.75rem;
}
.form h6 {
    font-weight: 600;
    padding: 0;
}
form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
	max-width: 670px;
}
form input,
form textarea {
    width: 100%;
    color: black;
    height: 3.43rem;
    font-size: 1.5rem;
    margin-top: 1rem;
    border-radius: 5px;
    border: none;
   	padding-right: 1rem;
	font-family: Assistant;
}
form input::placeholder {
	color: #4c4c4c;
}
form input[name="firstname"],
form input[name="lastname"] {
	width: 46.5%;
}
form input[type="submit"] {
    font-size: 1.625rem;
    font-weight: 700;
    background: #9e1c1e;
    border-radius: 35px;
    color: #fff;
}
.bdate {
    display: flex;
    width: 100%;
    background-color: #fff;
    height: 3.43rem;
    margin-top: 1rem;
    border-radius: 5px;
    color: #4c4c4c;
}
.bdate > span {
    background-color: #d6d6d6;
    width: 18%;
    font-size: 1.5rem;
    border: none;
    padding-right: 1rem;
    height: 2.75rem;
    padding-top: 0.687rem;
    border-radius: 0 5px 5px 0;
}
.bdate > select {
    color: #4c4c4c;
    width: 37%;
    font-size: 1.5rem;
    border: none;
    padding-right: 6rem;
    font-family: Assistant;
    margin-left: 1rem;
}
.bdate > select[name="month"] {
    margin-left: 1rem;
}
.bdate > select[name="day"] {
    border-right: 1px solid;
}
.check {
    font-size: 1.3rem;
    margin-top: 1rem;
    display: flex;
    align-items: end;
    flex-direction: row-reverse;
}
.check > label {
    display: block;
}
.check > input[type="checkbox"] {
    width: 2rem;
    height: 2rem;
    margin-left: 1rem;
    margin-top: 0;
}
@media only screen and (max-width: 1400px) {
    .inside_cont {
        justify-content: center;
    }
}
@media only screen and (max-width: 980px) {
    h3 {
        display: none;
    }
    .form {
        padding-top: 2rem;
    }
    form input[name="firstname"],
    form input[name="lastname"] {
        width: 100%;
    }
    .collage {
        padding-top: 0.6rem;
        border-top: 2px solid #777777;
        margin-top: 0.9rem;
    }
}
@media only screen and (max-width: 660px) {
.first {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 2;
    width: auto;
    }
.second {
    grid-column-start: 3;
    grid-column-end: 8;
    grid-row: 2;
    }
.third {
    grid-column-start: 4;
    grid-column-end: 9;
    grid-row: 1;
    }
.fourth {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 1;
    }
.fifth {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row: 2;
    }
.bdate > span {
    width: 8rem;
    }
}