h2 {
    font-size: 1.25rem;
    padding-top: 1.5rem;
}
h3 {
    font-size: 1.375rem;
    padding-top: 1.5rem;
}
main {
    background: #262626;
}
main > .inside_cont > h2:last-of-type {
    font-weight: 600;
}
main > .inside_cont {
    flex-direction: column;
    align-items: flex-start;
}
@media only screen and (max-width: 980px) {
    .web {
        display: none;
    }
    a.mob {
        display: block;
        text-align: center;
    }
    header > .logo_top {
        justify-content: center;
    }
    .web> nav {}
    footer {
        padding: 0;
    }
    footer::before {
        content: none;
    }
}
@media only screen and (max-width: 600px) {
    html, body {
        font-size: 14px;
    }
}
@media only screen and (max-width: 450px) {
    html, body {
        font-size: 12px;
    }
    h1 {
        font-size: 3.3rem;
    }
}