h2 {
    font-size: 3.75rem;
}
.hidden {
    display: none;
}
.shown {
    display: block;
}
nav.sidenav {
    top: 5rem;
}
main {
    background:
        linear-gradient(
	    	to bottom,
	    	rgba(20,20,20,1) 0%,
	    	rgba(19,19,19,1) 50%,
	        rgba(18,18,18,1) 70%,
	        rgba(17,17,17,1) 100%
	    ) no-repeat bottom,
	    rgba(0, 0, 0, 0.9) url(img/bg-bubbles.png) no-repeat 100% -110px;
    background-size: 100% 25%, contain;
    position: relative;
    overflow: hidden;
}
main::after {
    content: "";
    display: block;
    width: 100%;
    background: #262626;
    height: 55px;
    position: absolute;
    bottom: -28px;
    left: 0;
    transform: rotate(-1.6deg);
}
main > .inside_cont > .comedy_zoa {
	display: flex;
    flex-direction: column;
    align-items: center;
}
main > .inside_cont > .comedy_zoa > a {
    font-weight: 700;
    line-height: 1.69rem;
    width: 100%;
    text-align: center;
    padding: 0.6rem 0;
    margin-top: 1.25rem
}
main > .inside_cont > .comedy_zoa > .enter_members {
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-radius: 35px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    padding: 1rem 0;
    margin-top: 1.25rem;
    position: relative;
}
main > .inside_cont > .comedy_zoa > .enter_members::after {
    content: "|";
    position: absolute;
    font-size: 1.3rem;
}
main > .inside_cont > .comedy_zoa > .enter_members > button {
    font-size: 1.37rem;
    line-height: 1.69rem;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
}
main > .inside_cont > .comedy_zoa > .friends {
    width: 100%;
}
main > .inside_cont > .comedy_zoa > .friends > form {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
main > .inside_cont > .comedy_zoa input {
    width: 65%;
    color: black;
    height: 40px;
    font-size: 1.5rem;
    margin-top: 1rem;
    border-radius: 5px;
    border: none;
    padding-right: 1rem;
    font-family: Assistant;
}
main > .inside_cont > .comedy_zoa input[type="submit"] {
    color: #fff;
    cursor: pointer;
    padding: 5px 44px;
    height: auto;
    width: auto;
    font-weight: 700;
    border-radius: 35px;
}
main > .inside_cont > .comedy_zoa .back_register {
    direction: ltr;
    display: flex;
    margin-top: .5rem;
    padding-left: .5rem;
}
main > .inside_cont > .comedy_zoa > .friends > .back_register > a {
    margin-right: 0.5rem;
    font-size: 1.45rem;
    position: relative;
}
main > .inside_cont > .comedy_zoa > .friends > .back_register > a:after {
    content: "|";
    position: absolute;
    font-size: 1.5rem;
    right: -14px;
    bottom: 2px;
}
main > .inside_cont > .comedy_zoa > .companies > form > .inputs {
    display: flex;
    justify-content: space-between;
}
main > .inside_cont > .comedy_zoa > .companies .back_register {
    margin-top: 0;
}
main > .inside_cont > .comedy_zoa > .companies .back_register > input {
    width: auto;
}
main > .inside_cont > .comedy_zoa > .companies .back_register > button {
    margin-top: 1rem;
}
main > .inside_cont > .comedy_zoa > .companies input {
    width: 45%;
}
main > .inside_cont > .comedy_zoa button {
    font-family: Assistant;
    font-size: 1.45rem;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    margin-left: 0.5rem;
}
main > .inside_cont > .comedy_zoa > .order_phone {
    font-size: 1.81rem;
    font-weight: 700;
    letter-spacing: 0.43rem;
    margin-top: 1rem;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    padding-top: 0.2rem;
}
main > .inside_cont > .comedy_zoa > .order_phone span {
	font-weight: 400;
}
section p {
    font-size: 1.31rem;
    line-height: 2.44rem;
}
section.invite_artists {
    background: #262626;
    padding: 3.5rem 0;
}
.artists_cont {
    display: flex;
    flex-direction: column;
    max-width: 650px;
}
section > .inside_cont  a.sections_link {
    padding: 0.6rem 0;
    width: 12rem;
    text-align: center;
    margin: 1.5rem 0 1.5rem;
}
iframe {
    border: 0;
    width: 650px;
    height: 400px;
}
section.clubs {
	background: #1a1a1a;
	padding: 8rem 0;
	position: relative;
    overflow: hidden;
}
section.clubs::before {
    content: "";
    display: block;
    width: 100%;
    background: #262626;
    height: 55px;
    position: absolute;
    top: -27px;
    left: 0;
    transform: rotate(-1.6deg);
    box-shadow: 0px 0px 200px 0 rgba(0,0,1,1);
}
section.clubs > .inside_cont {
    flex-direction: column;
    align-items: start;
}
section.clubs > .inside_cont > .image_clubs {
    display: flex;
    align-items: baseline;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}
section.clubs > .inside_cont > .image_clubs > img {
    max-width: 15%;
}

@media only screen and (max-width: 1350px) {
    main > .inside_cont, section > .inside_cont {
        justify-content: center;
    }
    main {
        background: linear-gradient( to bottom, rgba(20,20,20,1) 0%, rgba(19,19,19,1) 50%, rgba(18,18,18,1) 70%, rgba(17,17,17,1) 100% ) no-repeat bottom,
        rgba(0, 0, 0, 0.9) url(img/bg-bubbles.png) no-repeat 100% 0;
        background-size: 100% 20%, 100%;
    }
}

/*mobile version*/
@media only screen and (max-width: 980px) {
    main {
        padding: 7rem 0 8rem;
        background: linear-gradient( to bottom, rgba(20,20,20,1) 0%, rgba(19,19,19,1) 50%, rgba(18,18,18,1) 70%, rgba(17,17,17,1) 100% ) no-repeat bottom,
            rgba(0, 0, 0, 0.9) url(img/bg-bubbles.png) repeat 100% 40%;
        background-size: 100% 20%, 100%;
    }
    main > .inside_cont > .comedy_zoa {
        padding-bottom: 1rem;
    }
    .artists_cont .mob {
        display: flex;
    }
    section.clubs {
        padding: 8rem 0 0;
    }
    section.clubs > .inside_cont > .image_clubs > img {
        flex-wrap: wrap;
    }
    section.clubs > .inside_cont > .image_clubs > img {
        padding: 1rem 0;
        width: 26%;
        max-width: 30%;
    }
}
@media only screen and (max-width: 450px) {
    main > .inside_cont > .comedy_zoa > a {
        width: 90%;
    }
    main > .inside_cont > .comedy_zoa > .order_phone {
        font-size: 1.51rem;
    }
    iframe {
        height: 240px;
    }
    section p {
        font-size: 1.61rem;
    }
    section > .inside_cont a.sections_link {
        font-size: 1.6rem;
    }
}