.collage {
    display: grid;
    grid-gap: 3px;
    align-items: flex-end;
    justify-items: center;
    padding-top: 1rem;
}
.pic {
    max-width: 100%;
}
.first {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    height: 100%;
    width: 100%;
}
.second,
.third {
    grid-column-start: 3;
    grid-column-end: 7;
}
.fourth {
    grid-column-start: 1;
    grid-column-end: 4;
    height: 100%;
}
.fifth {
    grid-column-start: 4;
    grid-column-end: 7;
}